@import '../scss/screen-sizes';
@import '../scss/col-size';


.row {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  flex: 1 0 auto !important;

  &.row-left {
    justify-content: flex-start;
  }

  &.row-right {
    justify-content: flex-end;
  }

  &.row-center {
    justify-content: center;
  }

  &.row-space-around {
    justify-content: space-around;
  }

  &.row-space-between {
    justify-content: space-between;
  }

  .row-valign {
    align-items: center;
  }
}
