@import '../scss/screen-sizes';
@import '../scss/col-size';


.row {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;

  &.row-left {
    justify-content: flex-start;
  }

  &.row-right {
    justify-content: flex-end;
  }

  &.row-center {
    justify-content: center;
  }

  &.row-space-around {
    justify-content: space-around;
  }

  &.row-space-between {
    justify-content: space-between;
  }

  .row-valign {
    align-items: center;
  }

  @media (max-width: $xs-max) {
    &.xs-0 { display: none }
    &.xs-1 { @include col-size(1) }
    &.xs-2 { @include col-size(2) }
    &.xs-3 { @include col-size(3) }
    &.xs-4 { @include col-size(4) }
    &.xs-5 { @include col-size(5) }
    &.xs-6 { @include col-size(6) }
    &.xs-7 { @include col-size(7) }
    &.xs-8 { @include col-size(8) }
    &.xs-9 { @include col-size(9) }
    &.xs-10 { @include col-size(10) }
    &.xs-11 { @include col-size(11) }
    &.xs-12 { @include col-size(12) }
  }

  @media (min-width: $sm-min) and (max-width: $sm-max) {
    &.sm-0 { display: none }
    &.sm-1 { @include col-size(1) }
    &.sm-2 { @include col-size(2) }
    &.sm-3 { @include col-size(3) }
    &.sm-4 { @include col-size(4) }
    &.sm-5 { @include col-size(5) }
    &.sm-6 { @include col-size(6) }
    &.sm-7 { @include col-size(7) }
    &.sm-8 { @include col-size(8) }
    &.sm-9 { @include col-size(9) }
    &.sm-10 { @include col-size(10) }
    &.sm-11 { @include col-size(11) }
    &.sm-12 { @include col-size(12) }
  }

  @media (min-width: $md-min) and (max-width: $md-max) {
    &.md-0 { display: none }
    &.md-1 { @include col-size(1) }
    &.md-2 { @include col-size(2) }
    &.md-3 { @include col-size(3) }
    &.md-4 { @include col-size(4) }
    &.md-5 { @include col-size(5) }
    &.md-6 { @include col-size(6) }
    &.md-7 { @include col-size(7) }
    &.md-8 { @include col-size(8) }
    &.md-9 { @include col-size(9) }
    &.md-10 { @include col-size(10) }
    &.md-11 { @include col-size(11) }
    &.md-12 { @include col-size(12) }
  }

  @media (min-width: $lg-min) {
    &.lg-0 { display: none }
    &.lg-1 { @include col-size(1) }
    &.lg-2 { @include col-size(2) }
    &.lg-3 { @include col-size(3) }
    &.lg-4 { @include col-size(4) }
    &.lg-5 { @include col-size(5) }
    &.lg-6 { @include col-size(6) }
    &.lg-7 { @include col-size(7) }
    &.lg-8 { @include col-size(8) }
    &.lg-9 { @include col-size(9) }
    &.lg-10 { @include col-size(10) }
    &.lg-11 { @include col-size(11) }
    &.lg-12 { @include col-size(12) }
  }
}
