.row {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start; }
  .row.row-left {
    justify-content: flex-start; }
  .row.row-right {
    justify-content: flex-end; }
  .row.row-center {
    justify-content: center; }
  .row.row-space-around {
    justify-content: space-around; }
  .row.row-space-between {
    justify-content: space-between; }
  .row.row-padding {
    padding: 0 12.5px 25px; }
    @media screen and (max-width: 767px) {
      .row.row-padding {
        padding: 0 10px 20px; } }
  .row .row-valign {
    align-items: center; }
  @media (max-width: 767px) {
    .row.xs-0 {
      display: none; }
    .row.xs-1 {
      flex-basis: 8.33333%;
      max-width: 8.33333%; }
    .row.xs-2 {
      flex-basis: 16.66667%;
      max-width: 16.66667%; }
    .row.xs-3 {
      flex-basis: 25%;
      max-width: 25%; }
    .row.xs-4 {
      flex-basis: 33.33333%;
      max-width: 33.33333%; }
    .row.xs-5 {
      flex-basis: 41.66667%;
      max-width: 41.66667%; }
    .row.xs-6 {
      flex-basis: 50%;
      max-width: 50%; }
    .row.xs-7 {
      flex-basis: 58.33333%;
      max-width: 58.33333%; }
    .row.xs-8 {
      flex-basis: 66.66667%;
      max-width: 66.66667%; }
    .row.xs-9 {
      flex-basis: 75%;
      max-width: 75%; }
    .row.xs-10 {
      flex-basis: 83.33333%;
      max-width: 83.33333%; }
    .row.xs-11 {
      flex-basis: 91.66667%;
      max-width: 91.66667%; }
    .row.xs-12 {
      flex-basis: 100%;
      max-width: 100%; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .row.sm-0 {
      display: none; }
    .row.sm-1 {
      flex-basis: 8.33333%;
      max-width: 8.33333%; }
    .row.sm-2 {
      flex-basis: 16.66667%;
      max-width: 16.66667%; }
    .row.sm-3 {
      flex-basis: 25%;
      max-width: 25%; }
    .row.sm-4 {
      flex-basis: 33.33333%;
      max-width: 33.33333%; }
    .row.sm-5 {
      flex-basis: 41.66667%;
      max-width: 41.66667%; }
    .row.sm-6 {
      flex-basis: 50%;
      max-width: 50%; }
    .row.sm-7 {
      flex-basis: 58.33333%;
      max-width: 58.33333%; }
    .row.sm-8 {
      flex-basis: 66.66667%;
      max-width: 66.66667%; }
    .row.sm-9 {
      flex-basis: 75%;
      max-width: 75%; }
    .row.sm-10 {
      flex-basis: 83.33333%;
      max-width: 83.33333%; }
    .row.sm-11 {
      flex-basis: 91.66667%;
      max-width: 91.66667%; }
    .row.sm-12 {
      flex-basis: 100%;
      max-width: 100%; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .row.md-0 {
      display: none; }
    .row.md-1 {
      flex-basis: 8.33333%;
      max-width: 8.33333%; }
    .row.md-2 {
      flex-basis: 16.66667%;
      max-width: 16.66667%; }
    .row.md-3 {
      flex-basis: 25%;
      max-width: 25%; }
    .row.md-4 {
      flex-basis: 33.33333%;
      max-width: 33.33333%; }
    .row.md-5 {
      flex-basis: 41.66667%;
      max-width: 41.66667%; }
    .row.md-6 {
      flex-basis: 50%;
      max-width: 50%; }
    .row.md-7 {
      flex-basis: 58.33333%;
      max-width: 58.33333%; }
    .row.md-8 {
      flex-basis: 66.66667%;
      max-width: 66.66667%; }
    .row.md-9 {
      flex-basis: 75%;
      max-width: 75%; }
    .row.md-10 {
      flex-basis: 83.33333%;
      max-width: 83.33333%; }
    .row.md-11 {
      flex-basis: 91.66667%;
      max-width: 91.66667%; }
    .row.md-12 {
      flex-basis: 100%;
      max-width: 100%; } }
  @media (min-width: 1200px) {
    .row.lg-0 {
      display: none; }
    .row.lg-1 {
      flex-basis: 8.33333%;
      max-width: 8.33333%; }
    .row.lg-2 {
      flex-basis: 16.66667%;
      max-width: 16.66667%; }
    .row.lg-3 {
      flex-basis: 25%;
      max-width: 25%; }
    .row.lg-4 {
      flex-basis: 33.33333%;
      max-width: 33.33333%; }
    .row.lg-5 {
      flex-basis: 41.66667%;
      max-width: 41.66667%; }
    .row.lg-6 {
      flex-basis: 50%;
      max-width: 50%; }
    .row.lg-7 {
      flex-basis: 58.33333%;
      max-width: 58.33333%; }
    .row.lg-8 {
      flex-basis: 66.66667%;
      max-width: 66.66667%; }
    .row.lg-9 {
      flex-basis: 75%;
      max-width: 75%; }
    .row.lg-10 {
      flex-basis: 83.33333%;
      max-width: 83.33333%; }
    .row.lg-11 {
      flex-basis: 91.66667%;
      max-width: 91.66667%; }
    .row.lg-12 {
      flex-basis: 100%;
      max-width: 100%; } }
