@import '../scss/screen-sizes';
@import '../scss/col-size';
@import '../scss/col-offset';


.col {
  display: flex;
  flex-direction: column;

  &.col-padding {
    padding: 0 12.5px 25px;

    @media screen and (max-width: $xs-max) {
      padding: 0 10px 20px;
    }
  }

  &.align-right {
    align-items: flex-end;
  }

  & > .row {

    &:not(:last-child) {
      padding: 0 0 25px;

      @media screen and (max-width: $xs-max) {
        padding: 0 0 20px;
      }
    }

    & > .col {
      padding: 0;

      @media screen and (min-width: $sm-min) {
        &:not(:last-child):not(:first-child) {
          padding: 0 12.5px 0;
        }

        &:last-child:not(:first-child) {
          padding-left: 12.5px;
        }

        &:not(:last-child):first-child {
          padding-right: 12.5px;
        }
      }

      &:not(:last-child) {
        @media screen and (max-width: $xs-max) {
          padding-bottom: 20px;
        }
      }
    }
  }

  @media (max-width: $xs-max) {
    &.xs-0 { display: none }
    &.xs-1 { @include col-size(1) }
    &.xs-2 { @include col-size(2) }
    &.xs-3 { @include col-size(3) }
    &.xs-4 { @include col-size(4) }
    &.xs-5 { @include col-size(5) }
    &.xs-6 { @include col-size(6) }
    &.xs-7 { @include col-size(7) }
    &.xs-8 { @include col-size(8) }
    &.xs-9 { @include col-size(9) }
    &.xs-10 { @include col-size(10) }
    &.xs-11 { @include col-size(11) }
    &.xs-12 { @include col-size(12) }
    &.xs-offset-1 { @include col-offset(1) }
    &.xs-offset-2 { @include col-offset(2) }
    &.xs-offset-3 { @include col-offset(3) }
    &.xs-offset-4 { @include col-offset(4) }
    &.xs-offset-5 { @include col-offset(5) }
    &.xs-offset-6 { @include col-offset(6) }
    &.xs-offset-7 { @include col-offset(7) }
    &.xs-offset-8 { @include col-offset(8) }
    &.xs-offset-9 { @include col-offset(9) }
    &.xs-offset-10 { @include col-offset(10) }
    &.xs-offset-11 { @include col-offset(11) }
    &.xs-offset-12 { @include col-offset(12) }
  }

  @media (min-width: $sm-min) and (max-width: $sm-max) {
    &.sm-0 { display: none }
    &.sm-1 { @include col-size(1) }
    &.sm-2 { @include col-size(2) }
    &.sm-3 { @include col-size(3) }
    &.sm-4 { @include col-size(4) }
    &.sm-5 { @include col-size(5) }
    &.sm-6 { @include col-size(6) }
    &.sm-7 { @include col-size(7) }
    &.sm-8 { @include col-size(8) }
    &.sm-9 { @include col-size(9) }
    &.sm-10 { @include col-size(10) }
    &.sm-11 { @include col-size(11) }
    &.sm-12 { @include col-size(12) }
    &.sm-offset-1 { @include col-offset(1) }
    &.sm-offset-2 { @include col-offset(2) }
    &.sm-offset-3 { @include col-offset(3) }
    &.sm-offset-4 { @include col-offset(4) }
    &.sm-offset-5 { @include col-offset(5) }
    &.sm-offset-6 { @include col-offset(6) }
    &.sm-offset-7 { @include col-offset(7) }
    &.sm-offset-8 { @include col-offset(8) }
    &.sm-offset-9 { @include col-offset(9) }
    &.sm-offset-10 { @include col-offset(10) }
    &.sm-offset-11 { @include col-offset(11) }
    &.sm-offset-12 { @include col-offset(12) }
  }

  @media (min-width: $md-min) and (max-width: $md-max) {
    &.md-0 { display: none }
    &.md-1 { @include col-size(1) }
    &.md-2 { @include col-size(2) }
    &.md-3 { @include col-size(3) }
    &.md-4 { @include col-size(4) }
    &.md-5 { @include col-size(5) }
    &.md-6 { @include col-size(6) }
    &.md-7 { @include col-size(7) }
    &.md-8 { @include col-size(8) }
    &.md-9 { @include col-size(9) }
    &.md-10 { @include col-size(10) }
    &.md-11 { @include col-size(11) }
    &.md-12 { @include col-size(12) }
    &.md-offset-1 { @include col-offset(1) }
    &.md-offset-2 { @include col-offset(2) }
    &.md-offset-3 { @include col-offset(3) }
    &.md-offset-4 { @include col-offset(4) }
    &.md-offset-5 { @include col-offset(5) }
    &.md-offset-6 { @include col-offset(6) }
    &.md-offset-7 { @include col-offset(7) }
    &.md-offset-8 { @include col-offset(8) }
    &.md-offset-9 { @include col-offset(9) }
    &.md-offset-10 { @include col-offset(10) }
    &.md-offset-11 { @include col-offset(11) }
    &.md-offset-12 { @include col-offset(12) }
  }

  @media (min-width: $lg-min) {
    &.lg-0 { display: none }
    &.lg-1 { @include col-size(1) }
    &.lg-2 { @include col-size(2) }
    &.lg-3 { @include col-size(3) }
    &.lg-4 { @include col-size(4) }
    &.lg-5 { @include col-size(5) }
    &.lg-6 { @include col-size(6) }
    &.lg-7 { @include col-size(7) }
    &.lg-8 { @include col-size(8) }
    &.lg-9 { @include col-size(9) }
    &.lg-10 { @include col-size(10) }
    &.lg-11 { @include col-size(11) }
    &.lg-12 { @include col-size(12) }
    &.lg-offset-1 { @include col-offset(1) }
    &.lg-offset-2 { @include col-offset(2) }
    &.lg-offset-3 { @include col-offset(3) }
    &.lg-offset-4 { @include col-offset(4) }
    &.lg-offset-5 { @include col-offset(5) }
    &.lg-offset-6 { @include col-offset(6) }
    &.lg-offset-7 { @include col-offset(7) }
    &.lg-offset-8 { @include col-offset(8) }
    &.lg-offset-9 { @include col-offset(9) }
    &.lg-offset-10 { @include col-offset(10) }
    &.lg-offset-11 { @include col-offset(11) }
    &.lg-offset-12 { @include col-offset(12) }
  }
}
