.col {
  display: flex;
  flex-direction: row; }
  .col.col-padding {
    padding: 0 12.5px 25px; }
    @media screen and (max-width: 767px) {
      .col.col-padding {
        padding: 0 10px 20px; } }
  .col.align-right {
    align-items: flex-end; }
  .col > .row:not(:last-child) {
    padding: 0 0 25px; }
    @media screen and (max-width: 767px) {
      .col > .row:not(:last-child) {
        padding: 0 0 20px; } }
  .col > .row > .col {
    padding: 0; }
    @media screen and (min-width: 768px) {
      .col > .row > .col:not(:last-child):not(:first-child) {
        padding: 0 12.5px 0; }
      .col > .row > .col:last-child:not(:first-child) {
        padding-left: 12.5px; }
      .col > .row > .col:not(:last-child):first-child {
        padding-right: 12.5px; } }
    @media screen and (max-width: 767px) {
      .col > .row > .col:not(:last-child) {
        padding-bottom: 20px; } }
  @media (max-width: 767px) {
    .col.xs-0 {
      display: none; }
    .col.xs-1 {
      flex-basis: 8.33333%;
      max-width: 8.33333%; }
    .col.xs-2 {
      flex-basis: 16.66667%;
      max-width: 16.66667%; }
    .col.xs-3 {
      flex-basis: 25%;
      max-width: 25%; }
    .col.xs-4 {
      flex-basis: 33.33333%;
      max-width: 33.33333%; }
    .col.xs-5 {
      flex-basis: 41.66667%;
      max-width: 41.66667%; }
    .col.xs-6 {
      flex-basis: 50%;
      max-width: 50%; }
    .col.xs-7 {
      flex-basis: 58.33333%;
      max-width: 58.33333%; }
    .col.xs-8 {
      flex-basis: 66.66667%;
      max-width: 66.66667%; }
    .col.xs-9 {
      flex-basis: 75%;
      max-width: 75%; }
    .col.xs-10 {
      flex-basis: 83.33333%;
      max-width: 83.33333%; }
    .col.xs-11 {
      flex-basis: 91.66667%;
      max-width: 91.66667%; }
    .col.xs-12 {
      flex-basis: 100%;
      max-width: 100%; }
    .col.xs-offset-1 {
      margin-left: 8.33333%; }
    .col.xs-offset-2 {
      margin-left: 16.66667%; }
    .col.xs-offset-3 {
      margin-left: 25%; }
    .col.xs-offset-4 {
      margin-left: 33.33333%; }
    .col.xs-offset-5 {
      margin-left: 41.66667%; }
    .col.xs-offset-6 {
      margin-left: 50%; }
    .col.xs-offset-7 {
      margin-left: 58.33333%; }
    .col.xs-offset-8 {
      margin-left: 66.66667%; }
    .col.xs-offset-9 {
      margin-left: 75%; }
    .col.xs-offset-10 {
      margin-left: 83.33333%; }
    .col.xs-offset-11 {
      margin-left: 91.66667%; }
    .col.xs-offset-12 {
      margin-left: 100%; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .col.sm-0 {
      display: none; }
    .col.sm-1 {
      flex-basis: 8.33333%;
      max-width: 8.33333%; }
    .col.sm-2 {
      flex-basis: 16.66667%;
      max-width: 16.66667%; }
    .col.sm-3 {
      flex-basis: 25%;
      max-width: 25%; }
    .col.sm-4 {
      flex-basis: 33.33333%;
      max-width: 33.33333%; }
    .col.sm-5 {
      flex-basis: 41.66667%;
      max-width: 41.66667%; }
    .col.sm-6 {
      flex-basis: 50%;
      max-width: 50%; }
    .col.sm-7 {
      flex-basis: 58.33333%;
      max-width: 58.33333%; }
    .col.sm-8 {
      flex-basis: 66.66667%;
      max-width: 66.66667%; }
    .col.sm-9 {
      flex-basis: 75%;
      max-width: 75%; }
    .col.sm-10 {
      flex-basis: 83.33333%;
      max-width: 83.33333%; }
    .col.sm-11 {
      flex-basis: 91.66667%;
      max-width: 91.66667%; }
    .col.sm-12 {
      flex-basis: 100%;
      max-width: 100%; }
    .col.sm-offset-1 {
      margin-left: 8.33333%; }
    .col.sm-offset-2 {
      margin-left: 16.66667%; }
    .col.sm-offset-3 {
      margin-left: 25%; }
    .col.sm-offset-4 {
      margin-left: 33.33333%; }
    .col.sm-offset-5 {
      margin-left: 41.66667%; }
    .col.sm-offset-6 {
      margin-left: 50%; }
    .col.sm-offset-7 {
      margin-left: 58.33333%; }
    .col.sm-offset-8 {
      margin-left: 66.66667%; }
    .col.sm-offset-9 {
      margin-left: 75%; }
    .col.sm-offset-10 {
      margin-left: 83.33333%; }
    .col.sm-offset-11 {
      margin-left: 91.66667%; }
    .col.sm-offset-12 {
      margin-left: 100%; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .col.md-0 {
      display: none; }
    .col.md-1 {
      flex-basis: 8.33333%;
      max-width: 8.33333%; }
    .col.md-2 {
      flex-basis: 16.66667%;
      max-width: 16.66667%; }
    .col.md-3 {
      flex-basis: 25%;
      max-width: 25%; }
    .col.md-4 {
      flex-basis: 33.33333%;
      max-width: 33.33333%; }
    .col.md-5 {
      flex-basis: 41.66667%;
      max-width: 41.66667%; }
    .col.md-6 {
      flex-basis: 50%;
      max-width: 50%; }
    .col.md-7 {
      flex-basis: 58.33333%;
      max-width: 58.33333%; }
    .col.md-8 {
      flex-basis: 66.66667%;
      max-width: 66.66667%; }
    .col.md-9 {
      flex-basis: 75%;
      max-width: 75%; }
    .col.md-10 {
      flex-basis: 83.33333%;
      max-width: 83.33333%; }
    .col.md-11 {
      flex-basis: 91.66667%;
      max-width: 91.66667%; }
    .col.md-12 {
      flex-basis: 100%;
      max-width: 100%; }
    .col.md-offset-1 {
      margin-left: 8.33333%; }
    .col.md-offset-2 {
      margin-left: 16.66667%; }
    .col.md-offset-3 {
      margin-left: 25%; }
    .col.md-offset-4 {
      margin-left: 33.33333%; }
    .col.md-offset-5 {
      margin-left: 41.66667%; }
    .col.md-offset-6 {
      margin-left: 50%; }
    .col.md-offset-7 {
      margin-left: 58.33333%; }
    .col.md-offset-8 {
      margin-left: 66.66667%; }
    .col.md-offset-9 {
      margin-left: 75%; }
    .col.md-offset-10 {
      margin-left: 83.33333%; }
    .col.md-offset-11 {
      margin-left: 91.66667%; }
    .col.md-offset-12 {
      margin-left: 100%; } }
  @media (min-width: 1200px) {
    .col.lg-0 {
      display: none; }
    .col.lg-1 {
      flex-basis: 8.33333%;
      max-width: 8.33333%; }
    .col.lg-2 {
      flex-basis: 16.66667%;
      max-width: 16.66667%; }
    .col.lg-3 {
      flex-basis: 25%;
      max-width: 25%; }
    .col.lg-4 {
      flex-basis: 33.33333%;
      max-width: 33.33333%; }
    .col.lg-5 {
      flex-basis: 41.66667%;
      max-width: 41.66667%; }
    .col.lg-6 {
      flex-basis: 50%;
      max-width: 50%; }
    .col.lg-7 {
      flex-basis: 58.33333%;
      max-width: 58.33333%; }
    .col.lg-8 {
      flex-basis: 66.66667%;
      max-width: 66.66667%; }
    .col.lg-9 {
      flex-basis: 75%;
      max-width: 75%; }
    .col.lg-10 {
      flex-basis: 83.33333%;
      max-width: 83.33333%; }
    .col.lg-11 {
      flex-basis: 91.66667%;
      max-width: 91.66667%; }
    .col.lg-12 {
      flex-basis: 100%;
      max-width: 100%; }
    .col.lg-offset-1 {
      margin-left: 8.33333%; }
    .col.lg-offset-2 {
      margin-left: 16.66667%; }
    .col.lg-offset-3 {
      margin-left: 25%; }
    .col.lg-offset-4 {
      margin-left: 33.33333%; }
    .col.lg-offset-5 {
      margin-left: 41.66667%; }
    .col.lg-offset-6 {
      margin-left: 50%; }
    .col.lg-offset-7 {
      margin-left: 58.33333%; }
    .col.lg-offset-8 {
      margin-left: 66.66667%; }
    .col.lg-offset-9 {
      margin-left: 75%; }
    .col.lg-offset-10 {
      margin-left: 83.33333%; }
    .col.lg-offset-11 {
      margin-left: 91.66667%; }
    .col.lg-offset-12 {
      margin-left: 100%; } }
